::-webkit-scrollbar{
    display: none;
}

* {
  box-sizing:border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a, a:active, a:visited {
  text-decoration:none;
  color:#000;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  width:100vw;
  height:100vh;
  display:flex;
  flex-flow:column nowrap;
}

.container {
  display:flex;
  flex-flow: column nowrap;
  align-items:center;
  justify-content:center;
  width:100vw;
  height:100vh;
  display:flex;
  background-color:#960303;
}

  #logo {
    font-family: homage-condensed, serif;
    font-size:35vw;
    color:#00dbc9;
  }
