::-webkit-scrollbar{
    display: none;
}

* {
  box-sizing:border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a, a:active, a:visited {
  text-decoration:none;
  color:#000;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  width:100dvw;
  height:100dvh;
  display:flex;
  flex-flow:column nowrap;
}

#logo-container {
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  justify-content:center;
  width:100dvw;
  height:100dvh;
  display:flex;
  background-color:#7B0608;
  opacity:1;
  transition:opacity 0.1s ease-in;
}

  #logo {
    font-family: miller-banner-ex-compressed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25vw;
    color:#7BDAD2;
  }

.circle-container {
  position:absolute;
  top:0;
  left:0;
  width:100dvw;
  height:100dvh;
  padding:20px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:flex-end;
  align-items:flex-end;
}

    #home-circle {
      width:50px;
      height:50px;
      border-radius: 50%;
      background-color:#7BDAD2;
      cursor:pointer;
    }

    #home-circle:hover {
      background-color:#00576A;
    }

    #info-circle {
      width:50px;
      height:50px;
      border-radius: 50%;
      background-color:#002554;
      cursor:pointer;
    }

    #info-circle:hover {
      background-color:#7B0608;
    }

#info-container {
  position:absolute;
  top:0;
  left:0;
  display:none;
  flex-flow:column nowrap;
  align-items:center;
  justify-content:center;
  width:100dvw;
  height:100dvh;
  background-color:#00576A;
  opacity:0;
  transition:opacity 1s;
}

  #info {
    width:100%;
    padding:50px;
    font-family: miller-banner-ex-compressed, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform:uppercase;
    font-size:10vw;
    line-height:11vw;
    color:#002554;
    opacity:0;
    transition:opacity 1s ease-in;
  }

  #contact {
    font-family: miller-banner-ex-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity:0;
    transition:opacity 1s;
    color:#002554;
    font-size:1.5vw;
  }

@media screen and (max-width: 1000px) {
  #contact {
    font-size:14px;
  }
}

@media screen and (max-width: 412px) {
  #info {
    text-align:center;
  }
}
